n8n/linkedin_post_generator.json
{
  "name": "LinkedIn Post Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linkedin-post-generator",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -200,
        0
      ],
      "id": "webhook-linkedin-post",
      "name": "Webhook",
      "webhookId": "linkedin-post-generator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generiere einen LinkedIn-Post zum folgenden Thema:\n\n**Thema:** {{ $json.body.topic }}\n**Ton:** {{ $json.body.tone }}\n**Stil:** {{ $json.body.style }}",
        "messages": {
          "messageValues": [
            {
              "message": "Du bist ein erfahrener LinkedIn-Copywriter mit 10+ Jahren Erfahrung im Personal Branding und Content Marketing.\n\n## DEINE AUFGABE\nGeneriere einen LinkedIn-Post basierend auf dem gegebenen Thema, Ton und Stil.\n\n## FORMAT-REGELN\n1. **Länge:** 800-1500 Zeichen (optimal für LinkedIn-Algorithmus)\n2. **Hook:** Die erste Zeile MUSS Aufmerksamkeit erregen (erscheint im Feed)\n3. **Struktur:** Nutze Absätze und Leerzeilen für Lesbarkeit\n4. **Emojis:** Sparsam einsetzen (max. 3-5 pro Post)\n5. **Hashtags:** Exakt 3-5 relevante Hashtags am Ende\n6. **CTA:** Schließe mit einer Frage oder Aufforderung zur Interaktion\n\n## TON-ANPASSUNG\n- **professional:** Faktenbasiert, Branchenjargon erlaubt, keine Slang-Ausdrücke\n- **casual:** Persönlich, \"Ich\"-Perspektive, authentische Sprache\n- **inspirational:** Emotionale Trigger, Metaphern, empowernde Sprache\n- **educational:** Klar strukturiert, Bullet Points erlaubt, Mehrwert-fokussiert\n\n## STIL-ANPASSUNG\n- **story:** \"Als ich vor X Jahren...\" oder \"Letzte Woche ist mir etwas passiert...\"\n- **listicle:** \"5 Dinge, die ich über X gelernt habe:\" (dann nummerierte Liste)\n- **question-hook:** \"Was wäre, wenn...?\" oder \"Hast du dich jemals gefragt...?\"\n- **bold-statement:** \"X ist tot.\" oder \"Vergiss alles, was du über X weißt.\"\n\n## OUTPUT\nGib NUR den fertigen LinkedIn-Post aus. Keine Erklärungen, keine Einleitung."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        100,
        0
      ],
      "id": "chain-llm-linkedin",
      "name": "Chain LLM"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "anthropic/claude-3.5-sonnet"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        100,
        200
      ],
      "id": "openrouter-model",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "43wsCq61oWf2FXhh",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $('Chain LLM').item.json.text } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        400,
        0
      ],
      "id": "respond-webhook",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## LinkedIn Post Generator\n\nGeneriert professionelle LinkedIn-Posts basierend auf:\n- **Thema:** Freier Text\n- **Ton:** professional | casual | inspirational | educational\n- **Stil:** story | listicle | question-hook | bold-statement",
        "height": 180,
        "width": 700
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -300,
        -150
      ],
      "typeVersion": 1,
      "id": "sticky-note-info",
      "name": "Info"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Chain LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chain LLM": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Chain LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "",
  "meta": {
    "instanceId": ""
  },
  "id": "",
  "tags": []
}
