n8n/linkedin_post_generator.json
{
  "name": "LinkedIn Post Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linkedin-post-generator",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -200,
        0
      ],
      "id": "webhook-linkedin-post",
      "name": "Webhook",
      "webhookId": "linkedin-post-generator"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "url",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "URL Mode"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "topic",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Topic Mode"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.mode }}",
                    "rightValue": "job",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Job Mode"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        0,
        0
      ],
      "id": "switch-mode",
      "name": "Switch Mode"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generiere einen LinkedIn-Post zum folgenden Thema:\n\n**Thema:** {{ $json.body.topic }}\n**Ton:** {{ $json.body.tone }}\n**Stil:** {{ $json.body.style }}\n**Sprache:** {{ $json.body.language }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Build Profile Context').item.json.profileContext || '' }}Du bist ein erfahrener LinkedIn-Copywriter mit 10+ Jahren Erfahrung im Personal Branding und Content Marketing.\n\n## DEINE AUFGABE\nGeneriere einen LinkedIn-Post basierend auf dem gegebenen Thema, Ton und Stil. Schreibe den Post in der angegebenen Sprache.\n\n## SPRACHE\n- **de:** Deutsch\n- **en:** English\n- **fr:** Français\n- **es:** Español\n- **it:** Italiano\n\n## FORMAT-REGELN\n1. **Länge:** 800-1500 Zeichen (optimal für LinkedIn-Algorithmus)\n2. **Hook:** Die erste Zeile MUSS Aufmerksamkeit erregen (erscheint im Feed)\n3. **Struktur:** Nutze Absätze und Leerzeilen für Lesbarkeit\n4. **Emojis:** Sparsam einsetzen (max. 3-5 pro Post)\n5. **Hashtags:** Exakt 3-5 relevante Hashtags am Ende\n6. **CTA:** Schließe mit einer Frage oder Aufforderung zur Interaktion\n\n## TON-ANPASSUNG\n- **professional:** Faktenbasiert, Branchenjargon erlaubt, keine Slang-Ausdrücke\n- **casual:** Persönlich, \"Ich\"-Perspektive, authentische Sprache\n- **inspirational:** Emotionale Trigger, Metaphern, empowernde Sprache\n- **educational:** Klar strukturiert, Bullet Points erlaubt, Mehrwert-fokussiert\n\n## STIL-ANPASSUNG\n- **story:** \"Als ich vor X Jahren...\" oder \"Letzte Woche ist mir etwas passiert...\"\n- **listicle:** \"5 Dinge, die ich über X gelernt habe:\" (dann nummerierte Liste)\n- **question-hook:** \"Was wäre, wenn...?\" oder \"Hast du dich jemals gefragt...?\"\n- **bold-statement:** \"X ist tot.\" oder \"Vergiss alles, was du über X weißt.\"\n\n## OUTPUT\nGib NUR den fertigen LinkedIn-Post aus. Keine Erklärungen, keine Einleitung."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        300,
        200
      ],
      "id": "chain-llm-topic",
      "name": "Chain LLM (Topic)"
    },
    {
      "parameters": {
        "url": "={{ $json.body.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        200,
        -200
      ],
      "id": "http-fetch-url",
      "name": "Fetch URL"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "title, h1, meta[property=\"og:title\"]",
              "returnValue": "text"
            },
            {
              "key": "content",
              "cssSelector": "article, main, .post-content, .article-content, .entry-content, .content",
              "returnValue": "text"
            },
            {
              "key": "metaDescription",
              "cssSelector": "meta[name=\"description\"], meta[property=\"og:description\"]",
              "returnValue": "attribute",
              "attribute": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        400,
        -200
      ],
      "id": "html-extract",
      "name": "Extract HTML"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"title\": {{ JSON.stringify($json.title || 'Artikel') }},\n  \"content\": {{ JSON.stringify(($json.content || $json.metaDescription || '').substring(0, 3000)) }},\n  \"excerpt\": {{ JSON.stringify(($json.content || $json.metaDescription || '').substring(0, 200)) }},\n  \"url\": {{ JSON.stringify($('Webhook').item.json.body.url) }},\n  \"tone\": {{ JSON.stringify($('Webhook').item.json.body.tone) }},\n  \"style\": {{ JSON.stringify($('Webhook').item.json.body.style) }},\n  \"language\": {{ JSON.stringify($('Webhook').item.json.body.language || 'de') }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        -200
      ],
      "id": "set-article-data",
      "name": "Set Article Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Erstelle einen LinkedIn-Post basierend auf diesem Artikel:\n\n**Titel:** {{ $json.title }}\n**URL:** {{ $json.url }}\n**Artikel-Inhalt:**\n{{ $json.content }}\n\n**Gewünschter Ton:** {{ $json.tone }}\n**Gewünschter Stil:** {{ $json.style }}\n**Sprache:** {{ $json.language }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Build Profile Context').item.json.profileContext || '' }}Du bist ein erfahrener LinkedIn-Copywriter mit 10+ Jahren Erfahrung im Personal Branding und Content Marketing.\n\n## DEINE AUFGABE\nFasse den gegebenen Artikel als LinkedIn-Post zusammen. Extrahiere die Kernaussagen und präsentiere sie als wertvollen LinkedIn-Content. Schreibe den Post in der angegebenen Sprache.\n\n## SPRACHE\n- **de:** Deutsch\n- **en:** English\n- **fr:** Français\n- **es:** Español\n- **it:** Italiano\n\n## FORMAT-REGELN\n1. **Länge:** 800-1500 Zeichen (optimal für LinkedIn-Algorithmus)\n2. **Hook:** Die erste Zeile MUSS Aufmerksamkeit erregen (erscheint im Feed)\n3. **Struktur:** Nutze Absätze und Leerzeilen für Lesbarkeit\n4. **Emojis:** Sparsam einsetzen (max. 3-5 pro Post)\n5. **Hashtags:** Exakt 3-5 relevante Hashtags am Ende\n6. **CTA:** Schließe mit einer Frage oder Aufforderung zur Interaktion\n7. **Quelle:** Erwähne NICHT die Quelle/URL im Post selbst\n\n## TON-ANPASSUNG\n- **professional:** Faktenbasiert, Branchenjargon erlaubt, keine Slang-Ausdrücke\n- **casual:** Persönlich, \"Ich\"-Perspektive, authentische Sprache\n- **inspirational:** Emotionale Trigger, Metaphern, empowernde Sprache\n- **educational:** Klar strukturiert, Bullet Points erlaubt, Mehrwert-fokussiert\n\n## STIL-ANPASSUNG\n- **story:** \"Als ich vor X Jahren...\" oder \"Letzte Woche ist mir etwas passiert...\"\n- **listicle:** \"5 Dinge, die ich über X gelernt habe:\" (dann nummerierte Liste)\n- **question-hook:** \"Was wäre, wenn...?\" oder \"Hast du dich jemals gefragt...?\"\n- **bold-statement:** \"X ist tot.\" oder \"Vergiss alles, was du über X weißt.\"\n\n## OUTPUT\nGib NUR den fertigen LinkedIn-Post aus. Keine Erklärungen, keine Einleitung."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        800,
        -200
      ],
      "id": "chain-llm-url",
      "name": "Chain LLM (URL)"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "anthropic/claude-3.5-sonnet"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        300,
        400
      ],
      "id": "openrouter-model-topic",
      "name": "OpenRouter (Topic)",
      "credentials": {
        "openRouterApi": {
          "id": "43wsCq61oWf2FXhh",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "anthropic/claude-3.5-sonnet"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "openrouter-model-url",
      "name": "OpenRouter (URL)",
      "credentials": {
        "openRouterApi": {
          "id": "43wsCq61oWf2FXhh",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $('Chain LLM (Topic)').item.json.text } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        600,
        200
      ],
      "id": "respond-topic",
      "name": "Respond (Topic)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"output\": {{ JSON.stringify($('Chain LLM (URL)').item.json.text) }},\n  \"source\": {\n    \"title\": {{ JSON.stringify($('Set Article Data').item.json.title) }},\n    \"excerpt\": {{ JSON.stringify($('Set Article Data').item.json.excerpt) }},\n    \"url\": {{ JSON.stringify($('Set Article Data').item.json.url) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1000,
        -200
      ],
      "id": "respond-url",
      "name": "Respond (URL)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $('Chain LLM (Topic)').item.json.text } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        600,
        400
      ],
      "id": "respond-fallback",
      "name": "Respond (Fallback)"
    },
    {
      "parameters": {
        "content": "## LinkedIn Post Generator\n\nGeneriert professionelle LinkedIn-Posts basierend auf:\n- **Mode:** topic | url | job\n- **Topic:** Freier Text (bei mode=topic)\n- **URL:** Blog/Artikel-URL (bei mode=url)\n- **Job:** Stellenausschreibung (bei mode=job)\n- **Ton:** professional | casual | inspirational | educational\n- **Stil:** story | listicle | question-hook | bold-statement\n\n### URL Mode\nBei mode=url wird die URL gescrapt und der Artikel-Inhalt als Basis für den Post verwendet.\n\n### Job Mode\nBei mode=job werden Job-Posts für Recruiter generiert.\n- hasExistingPosting=true: URL zur Stellenausschreibung\n- hasExistingPosting=false: Manuelle Eingabe von Jobtitel, Firma, Benefits etc.",
        "height": 320,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        -200
      ],
      "typeVersion": 1,
      "id": "sticky-note-info",
      "name": "Info"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.jobConfig.hasExistingPosting }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "With URL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.jobConfig.hasExistingPosting }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "false"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Manual Input"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        200,
        600
      ],
      "id": "switch-job-type",
      "name": "Switch Job Type"
    },
    {
      "parameters": {
        "url": "={{ $json.body.jobConfig.jobUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        500
      ],
      "id": "http-fetch-job-url",
      "name": "Fetch Job URL"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "title, h1, .job-title, [class*='job-title'], meta[property=\"og:title\"]",
              "returnValue": "text"
            },
            {
              "key": "content",
              "cssSelector": "article, main, .job-description, .job-content, [class*='job-description'], [class*='description'], .content",
              "returnValue": "text"
            },
            {
              "key": "company",
              "cssSelector": ".company-name, [class*='company'], [class*='employer']",
              "returnValue": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        600,
        500
      ],
      "id": "html-extract-job",
      "name": "Extract Job HTML"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"title\": {{ JSON.stringify($json.title || 'Stellenausschreibung') }},\n  \"content\": {{ JSON.stringify(($json.content || '').substring(0, 3000)) }},\n  \"company\": {{ JSON.stringify($json.company || '') }},\n  \"excerpt\": {{ JSON.stringify(($json.content || '').substring(0, 200)) }},\n  \"url\": {{ JSON.stringify($('Webhook').item.json.body.jobConfig.jobUrl) }},\n  \"jobConfig\": {{ JSON.stringify($('Webhook').item.json.body.jobConfig) }},\n  \"tone\": {{ JSON.stringify($('Webhook').item.json.body.tone) }},\n  \"style\": {{ JSON.stringify($('Webhook').item.json.body.style) }},\n  \"language\": {{ JSON.stringify($('Webhook').item.json.body.language || 'de') }},\n  \"additionalContext\": {{ JSON.stringify($('Webhook').item.json.body.topic || '') }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        500
      ],
      "id": "set-job-url-data",
      "name": "Set Job URL Data"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"title\": {{ JSON.stringify($json.body.jobConfig.jobTitle || 'Position') }},\n  \"company\": {{ JSON.stringify($json.body.jobConfig.companyName || '') }},\n  \"benefits\": {{ JSON.stringify($json.body.jobConfig.benefits || []) }},\n  \"requirements\": {{ JSON.stringify($json.body.jobConfig.requirements || []) }},\n  \"jobConfig\": {{ JSON.stringify($json.body.jobConfig) }},\n  \"tone\": {{ JSON.stringify($json.body.tone) }},\n  \"style\": {{ JSON.stringify($json.body.style) }},\n  \"language\": {{ JSON.stringify($json.body.language || 'de') }},\n  \"additionalContext\": {{ JSON.stringify($json.body.topic || '') }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        800
      ],
      "id": "set-job-manual-data",
      "name": "Set Job Manual Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Erstelle einen LinkedIn-Recruiting-Post basierend auf dieser Stellenausschreibung:\n\n**Position:** {{ $json.title }}\n**Unternehmen:** {{ $json.company }}\n**URL:** {{ $json.url }}\n**Stellenbeschreibung:**\n{{ $json.content }}\n\n**Zusätzlicher Kontext:** {{ $json.additionalContext }}\n\n---\n**POST-STIL:** {{ $json.jobConfig.jobSubStyle }}\n**ZIELGRUPPE:** {{ $json.jobConfig.candidatePersona }}\n**BRANCHE:** {{ $json.jobConfig.industry }}\n**STANDORT:** {{ $json.jobConfig.location || 'Nicht angegeben' }}\n**REMOTE:** {{ $json.jobConfig.remoteOption ? 'Ja' : 'Nein' }}\n**SPRACHE:** {{ $json.language }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Build Profile Context').item.json.profileContext || '' }}Du bist ein erfahrener LinkedIn-Copywriter, spezialisiert auf Recruiting-Posts und Employer Branding.\n\n## DEINE AUFGABE\nErstelle einen LinkedIn-Post, der die gegebene Stellenausschreibung bewirbt und zum Bewerben oder Teilen animiert.\n\n## POST-STIL ANPASSUNG\nPasse den Stil basierend auf dem gewählten jobSubStyle an:\n\n- **wir-suchen:** Klassischer Recruiting-Post. Beginne mit \"Wir suchen...\" oder \"Unser Team wächst...\". Direkt, professionell, klar strukturiert.\n\n- **kennt-jemanden:** Netzwerk aktivieren. Beginne mit \"Kennt jemand von euch...?\" oder \"Ich suche für mein Netzwerk...\". Persönlich, zum Teilen animierend.\n\n- **persoenlich:** Storytelling-Ansatz. Beginne mit \"In meinem Team suchen wir...\" oder \"Ich erinnere mich, als ich selbst...\". Authentisch, persönliche Perspektive.\n\n- **opportunity:** Benefits-fokussiert. Beginne mit \"Diese Chance solltest du nicht verpassen...\" oder \"Was wäre, wenn dein nächster Job...\". Spannend, Vorteile hervorhebend.\n\n## ZIELGRUPPEN-ANPASSUNG\nPasse die Ansprache basierend auf candidatePersona an:\n\n- **junior:** Betone Lernmöglichkeiten, Mentoring, Teamkultur, Entwicklungschancen. Ermutigender Ton.\n- **senior:** Betone Verantwortung, technische Challenges, Impact, Gestaltungsspielraum. Respektvoller Ton auf Augenhöhe.\n- **c-level:** Betone Strategie, Leadership-Rolle, Unternehmensvision, Einfluss. Executive-Sprache.\n- **freelancer:** Betone Projekt-Scope, Flexibilität, Tagessatz-Transparenz, klare Timelines.\n\n## BRANCHEN-HASHTAGS\nFüge branchenspezifische Hashtags hinzu:\n- **tech:** #tech #developer #coding #softwareengineering\n- **finance:** #finance #banking #fintech #financejobs\n- **healthcare:** #healthcare #pharma #medtech #healthcarejobs\n- **marketing:** #marketing #digital #creative #marketingjobs\n- **hr:** #hr #recruiting #peopleops #humanresources\n- **legal:** #legal #compliance #law #legaljobs\n- **other:** Generische Job-Hashtags\n\n## FORMAT-REGELN\n1. **Hook:** Erste Zeile MUSS Aufmerksamkeit erregen (erscheint im Feed)\n2. **Länge:** 800-1500 Zeichen\n3. **Struktur:** Klare Absätze, gut lesbar\n4. **Emojis:** Sparsam (max. 3-5), passend zum Ton\n5. **Hashtags:** 4-6 relevante (#hiring #jobs + branchenspezifische + standortspezifische)\n6. **CTA:** Klare Handlungsaufforderung (\"Link in den Kommentaren\", \"DM mich\", \"Teile diesen Post\")\n7. **Remote:** Wenn remoteOption=true, erwähne dies prominent\n\n## OUTPUT\nGib NUR den fertigen LinkedIn-Post aus. Keine Erklärungen, keine Einleitung, keine URL im Post."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        1000,
        500
      ],
      "id": "chain-llm-job-url",
      "name": "Chain LLM (Job URL)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Erstelle einen LinkedIn-Recruiting-Post für folgende Position:\n\n**Position:** {{ $json.title }}\n**Unternehmen:** {{ $json.company }}\n\n**Benefits:**\n{{ $json.benefits.length > 0 ? $json.benefits.map(b => '- ' + b).join('\\n') : 'Nicht angegeben' }}\n\n**Anforderungen:**\n{{ $json.requirements.length > 0 ? $json.requirements.map(r => '- ' + r).join('\\n') : 'Nicht angegeben' }}\n\n**Zusätzlicher Kontext:** {{ $json.additionalContext }}\n\n---\n**POST-STIL:** {{ $json.jobConfig.jobSubStyle }}\n**ZIELGRUPPE:** {{ $json.jobConfig.candidatePersona }}\n**BRANCHE:** {{ $json.jobConfig.industry }}\n**STANDORT:** {{ $json.jobConfig.location || 'Nicht angegeben' }}\n**REMOTE:** {{ $json.jobConfig.remoteOption ? 'Ja' : 'Nein' }}\n**SPRACHE:** {{ $json.language }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Build Profile Context').item.json.profileContext || '' }}Du bist ein erfahrener LinkedIn-Copywriter, spezialisiert auf Recruiting-Posts und Employer Branding.\n\n## DEINE AUFGABE\nErstelle einen LinkedIn-Post für die gegebene Stelle. Du hast nur die manuell eingegebenen Informationen - erstelle daraus einen überzeugenden Recruiting-Post.\n\n## POST-STIL ANPASSUNG\nPasse den Stil basierend auf dem gewählten jobSubStyle an:\n\n- **wir-suchen:** Klassischer Recruiting-Post. Beginne mit \"Wir suchen...\" oder \"Unser Team wächst...\". Direkt, professionell, klar strukturiert.\n\n- **kennt-jemanden:** Netzwerk aktivieren. Beginne mit \"Kennt jemand von euch...?\" oder \"Ich suche für mein Netzwerk...\". Persönlich, zum Teilen animierend.\n\n- **persoenlich:** Storytelling-Ansatz. Beginne mit \"In meinem Team suchen wir...\" oder \"Ich erinnere mich, als ich selbst...\". Authentisch, persönliche Perspektive.\n\n- **opportunity:** Benefits-fokussiert. Beginne mit \"Diese Chance solltest du nicht verpassen...\" oder \"Was wäre, wenn dein nächster Job...\". Spannend, Vorteile hervorhebend.\n\n## ZIELGRUPPEN-ANPASSUNG\nPasse die Ansprache basierend auf candidatePersona an:\n\n- **junior:** Betone Lernmöglichkeiten, Mentoring, Teamkultur, Entwicklungschancen. Ermutigender Ton.\n- **senior:** Betone Verantwortung, technische Challenges, Impact, Gestaltungsspielraum. Respektvoller Ton auf Augenhöhe.\n- **c-level:** Betone Strategie, Leadership-Rolle, Unternehmensvision, Einfluss. Executive-Sprache.\n- **freelancer:** Betone Projekt-Scope, Flexibilität, Tagessatz-Transparenz, klare Timelines.\n\n## BRANCHEN-HASHTAGS\nFüge branchenspezifische Hashtags hinzu:\n- **tech:** #tech #developer #coding #softwareengineering\n- **finance:** #finance #banking #fintech #financejobs\n- **healthcare:** #healthcare #pharma #medtech #healthcarejobs\n- **marketing:** #marketing #digital #creative #marketingjobs\n- **hr:** #hr #recruiting #peopleops #humanresources\n- **legal:** #legal #compliance #law #legaljobs\n- **other:** Generische Job-Hashtags\n\n## FORMAT-REGELN\n1. **Hook:** Erste Zeile MUSS Aufmerksamkeit erregen (erscheint im Feed)\n2. **Länge:** 800-1500 Zeichen\n3. **Struktur:** Klare Absätze, gut lesbar\n4. **Emojis:** Sparsam (max. 3-5), passend zum Ton\n5. **Hashtags:** 4-6 relevante (#hiring #jobs + branchenspezifische + standortspezifische wenn angegeben)\n6. **CTA:** Klare Handlungsaufforderung (\"Schreib mir eine DM\", \"Kommentiere mit 'Info'\", \"Teile diesen Post\")\n7. **Remote:** Wenn remoteOption=true, erwähne dies prominent\n8. **Benefits:** Wenn Benefits angegeben, hebe 2-3 der besten hervor\n\n## OUTPUT\nGib NUR den fertigen LinkedIn-Post aus. Keine Erklärungen, keine Einleitung."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        600,
        800
      ],
      "id": "chain-llm-job-manual",
      "name": "Chain LLM (Job Manual)"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "anthropic/claude-3.5-sonnet"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1000,
        700
      ],
      "id": "openrouter-model-job-url",
      "name": "OpenRouter (Job URL)",
      "credentials": {
        "openRouterApi": {
          "id": "43wsCq61oWf2FXhh",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "anthropic/claude-3.5-sonnet"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        600,
        1000
      ],
      "id": "openrouter-model-job-manual",
      "name": "OpenRouter (Job Manual)",
      "credentials": {
        "openRouterApi": {
          "id": "43wsCq61oWf2FXhh",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"output\": {{ JSON.stringify($('Chain LLM (Job URL)').item.json.text) }},\n  \"source\": {\n    \"title\": {{ JSON.stringify($('Set Job URL Data').item.json.title) }},\n    \"excerpt\": {{ JSON.stringify($('Set Job URL Data').item.json.excerpt) }},\n    \"url\": {{ JSON.stringify($('Set Job URL Data').item.json.url) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1200,
        500
      ],
      "id": "respond-job-url",
      "name": "Respond (Job URL)"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"output\": {{ JSON.stringify($('Chain LLM (Job Manual)').item.json.text) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        800
      ],
      "id": "respond-job-manual",
      "name": "Respond (Job Manual)"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst profile = item.json.body?.profile;\nlet profileContext = '';\nif (profile) {\n  const lines = [\n    '## AUTOR-PROFIL & STIMME',\n    `Schreibe als ${profile.full_name}, ${profile.job_title} bei ${profile.company}.`,\n    `Expertise: ${(profile.expertise_topics || []).join(', ')}`,\n    `Zielgruppe: ${profile.target_audience || ''}`,\n    `Werte: ${(profile.personal_values || []).join(', ')}`,\n    `Positionierung: ${profile.positioning_statement || ''}`,\n    `Emoji-Stil: ${profile.preferred_emojis || 'minimal'}`,\n  ];\n  if (profile.example_posts?.length > 0) {\n    lines.push('', '## STIL-BEISPIELE (passe Voice & Rhythmus an):');\n    lines.push(profile.example_posts.join('\\n---\\n'));\n  }\n  lines.push('', 'WICHTIG: Schreibe in der Ich-Perspektive als diese Person.', '');\n  profileContext = lines.join('\\n');\n}\nreturn [{ json: { ...item.json, profileContext } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        0
      ],
      "id": "build-profile-context",
      "name": "Build Profile Context"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Profile Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Profile Context": {
      "main": [
        [
          {
            "node": "Switch Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Mode": {
      "main": [
        [
          {
            "node": "Fetch URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chain LLM (Topic)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Job Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chain LLM (Topic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chain LLM (Topic)": {
      "main": [
        [
          {
            "node": "Respond (Topic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch URL": {
      "main": [
        [
          {
            "node": "Extract HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract HTML": {
      "main": [
        [
          {
            "node": "Set Article Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Article Data": {
      "main": [
        [
          {
            "node": "Chain LLM (URL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chain LLM (URL)": {
      "main": [
        [
          {
            "node": "Respond (URL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter (Topic)": {
      "ai_languageModel": [
        [
          {
            "node": "Chain LLM (Topic)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter (URL)": {
      "ai_languageModel": [
        [
          {
            "node": "Chain LLM (URL)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch Job Type": {
      "main": [
        [
          {
            "node": "Fetch Job URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Job Manual Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Job Manual Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Job URL": {
      "main": [
        [
          {
            "node": "Extract Job HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job HTML": {
      "main": [
        [
          {
            "node": "Set Job URL Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Job URL Data": {
      "main": [
        [
          {
            "node": "Chain LLM (Job URL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Job Manual Data": {
      "main": [
        [
          {
            "node": "Chain LLM (Job Manual)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chain LLM (Job URL)": {
      "main": [
        [
          {
            "node": "Respond (Job URL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chain LLM (Job Manual)": {
      "main": [
        [
          {
            "node": "Respond (Job Manual)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter (Job URL)": {
      "ai_languageModel": [
        [
          {
            "node": "Chain LLM (Job URL)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter (Job Manual)": {
      "ai_languageModel": [
        [
          {
            "node": "Chain LLM (Job Manual)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "",
  "meta": {
    "instanceId": ""
  },
  "id": "",
  "tags": []
}
